.app {
  text-align: center;
  width: 100%;
  display: block;
  /* padding: 20px 0; */
}

.centeredAnchor {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
  min-width: 500px;
}

.Wrapper {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  min-width: 400px;
}

.Content {
  flex: 1;
}
